<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN STATUS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    
</head>
<style>
    body{
        background-image: url('https://st3.depositphotos.com/19803338/35728/i/600/depositphotos_357285892-stock-photo-traditional-turkish-greek-iranian-cuisine.jpg');
	    background-size: cover;
    }
.bgimg{
    position: relative;
	height: 100vh;
	width: 100%;
}
.sec1{
        text-align: center;
        margin-top: 25%;
        margin-right:50%;
}
h1{
    color: aliceblue;
}

</style>
<body>
   <div class="sec1">
    <center> <h1> ADMIN STATUS</h1><br>
        <a href="{{url_for('readcontact')}}" class="btn btn-info">read contactus </a>
        <div class="container1">
        
        
        <a href="{{url_for('admindashboard')}}" ><button style="border-radius: 8px;font-size: 30;  width:150px; height:60px;margin: 20px; background-color: rgb(149, 23, 92); color: aliceblue;  ">Add Items</style</button></a>
        <a href="{{url_for('availableitems')}}" > <button style="border-radius: 8px;  width: 150px; height: 60px;background-color: rgb(149, 23, 92); color: aliceblue; ">Available Items</style</button></a><br>
    </center></div>
</body>
</html>