<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN REGISTER</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    
    <script src="https://kit.fontawesome.com/bbc6213f16.js" crossorigin="anonymous"></script>

</head>
<style>
    body {
        background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20190220/ourmid/pngtree-vegetables-green-food-poster-banner-image_9907.jpg');
        background-size: cover;
    }
    .sec1{
        text-align: center;
        margin-top: 5%;
    }
    p{
        margin-left: 1%;
    }
    #d1{
        border-radius: 8px;
    }
    h1{
        text-align: center;
        margin-top: 3%;
    }
    .lg{
        margin-left: 2%;
    }
</style>
<body>
    <form method="POST">
        <h1>ADMIN REGISTER</h1>
        <div class="sec1">
        <p><i style="margin-right: 1%;" class="fa fa-user" aria-hidden="true"></i>Restaurant Id</p>
        <input type="number" placeholder="Restaurant Id" type="number" name="rid" required >
        <p><i style="margin-right: 1%;" class="fa-solid fa-phone"></i>Restaurant Name</p>
        <input type="text" placeholder="Restaurant Name" type="text" name="rname" required >
        <p><i style="margin-right: 1%;" class="fa-regular fa-user"></i>Restaurant Place</p>
        <input type="text" placeholder="restaurant place" type="text" name="rplace" required >
        <p><i style="margin-right: 1%;" class="fa-sharp fa-solid fa-key"></i></i>password</p>
        <input type="text" placeholder="password" type="text" name="password" required>
        <p><i style="margin-right: 1%;" class="fa-solid fa-envelope"></i>Email</p>
        <input type="text" placeholder="Email" type="password" name="email" required><br><br>
        <button style="border-radius: 8px; background-color: rgb(149, 23, 92); color: aliceblue; ">submit</style</button><br></a>
        
        
        </div>
    
    </form>
</body>
</html>
