<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    
</head>
<style>
    body{
        background-image: url('https://www.shutterstock.com/image-illustration/digital-encryption-concept-cyber-key-260nw-1917586946.jpg');
	    background-size: cover;
    }
.bgimg{
    position: relative;
	height: 100vh;
	width: 100%;
}
.one{
    margin-top: 20%;

}

</style>
<body>
    <div class="one">
    <center><form method="POST"><br>
        <label style="color:yellow">New-password</label><br>
        <input type="text" name="New Password"><br>
        <label style="color:yellow">confirm-password</label><br>
        <input type="text" name="confirm password"><br><br>
        
        <button style="border-radius: 8px; background-color: rgba(122, 149, 23, 0.811); color: aliceblue; ">Submit</style></button><br>
    </form></center>
</div>
</body>
</html>