<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    
</head>
<style>
    body{
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLOEz-0alUSFHC_QZzpaZf5a-wrEJ9nu95RA&usqp=CAU');
	    background-size: cover;
        
    }
.bgimg{
    position: relative;
	height: 100vh;
	width: 100%;
}

</style>
<body>
    <center><form method="POST"><br>
        <label>New password</label>
        <input type="text" name="New-Password"><br>
        <label>conform password</label>
        <input type="text" name="conform-password"><br>
        
        <button style="border-radius: 8px; background-color: rgb(149, 23, 92); color: aliceblue; margin-top: 5px; ">Submit</button><br>
    </form></center>
</body>
</html>