<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER REGISTER</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    
    <script src="https://kit.fontawesome.com/bbc6213f16.js" crossorigin="anonymous"></script>

</head>


<style>
    body {
        background-image: url('https://cdn.wallpapersafari.com/60/87/sRyDw7.jpg');
        background-size: cover;
    }
    .sec1{
        text-align: center;
        margin-top: 5%;
    }
    p{
        margin-left: 1%;
    }
    #d1{
        border-radius: 8px;
    }
    h1{
        text-align: center;
        margin-top: 3%;
    }
    .lg{
        margin-left: 2%;
    }
    .sec2{
margin-left: 60%;
    }

</style>
<body>
    <form method="POST">
    <div class="sec2">
        <h1>USER SIGN IN</h1>
        <div class="sec1">
        <p><i style="margin-right: 1%;" class="fa fa-user" aria-hidden="true"></i>User Name</p>
        <input type="text" placeholder="Username" type="text" name="name" required id="d1">
        <p><i style="margin-right: 1%;" class="fa-solid fa-phone"></i>mobile</p>
        <input type="text" placeholder="mobile" type="number" name="mobile" required id="d1">
        <p><i style="margin-right: 1%;" class="fa-regular fa-user"></i>Gender</p>
        <input type="text" placeholder="gender" type="text" name="Gender"  required id="d1">
        <p><i style="margin-right: 1%;" class="fa-solid fa-envelope"></i>Email</p>
        <input type="text" placeholder="email" type="text" name="email"required id="d1">
        <p><i style="margin-right: 1%;" class="fa-sharp fa-solid fa-key"></i>Password</p>
        <input type="text" placeholder="password" name="password" required id="d1">
       
        <p><i style="margin-right: 1%;" class="fa-regular fa-address-book"></i>Address</p>
        <input type="text" placeholder="Address" type="Address" required id="d1"><br><br>
        <button type="submit" style="border-radius: 8px; background-color: rgb(149, 23, 23); color: aliceblue;">Submit</button>
        </div>
    </div>

    </form>
</body>
</html>